.task-item {
    position: relative;
    padding-right: 50px;
}

.complete-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

.due-date {
    color: #D32F2F;
    font-weight: bold;
}
.task-item.completed {
    opacity: 0.8;
    border-left: 4px solid #388E3C;
}

.completion-date {
    color: #388E3C;
    font-weight: bold;
}